@use "./variables" as *;

@function pxToRem($value) {
  @return $value / 16 * 1rem;
}


@mixin military($weight, $size) {
  $weights: (light: 300,
    regular: 400,
    semibold: 600,
    bold: 700,
    extrabold: 800,
  );

  $sizes: (40, 36, 32, 28, 24);
  $lines: (60, 54, 48, 42, 36);

  font-family: 'Rubik Dirt', cursive;
  font-weight: map-get($weights, $weight);
  font-size: pxToRem(nth($sizes, index($sizes, $size)));
  line-height: pxToRem(nth($lines, index($sizes, $size)));
}

@mixin title($weight, $size) {
  $weights: (light: 300,
    regular: 400,
    semibold: 600,
    bold: 700,
    extrabold: 800,
  );

  $sizes: (40, 36, 32, 28, 24);
  $lines: (60, 54, 48, 42, 36);

  font-family: "Open Sans", sans-serif;
  font-weight: map-get($weights, $weight);
  font-size: pxToRem(nth($sizes, index($sizes, $size)));
  line-height: pxToRem(nth($lines, index($sizes, $size)));
}

@mixin paragraph($weight, $size, $underline: false) {
  $weights: (light: 300,
    regular: 400,
    semibold: 600,
    bold: 700,
    extrabold: 800,
  );

  $sizes: (20, 18, 16, 14, 12, 10);
  $lines: (30, 27, 24, 21, 18, 15);

  font-family: "Open Sans", sans-serif;
  font-weight: map-get($weights, $weight);
  font-size: pxToRem(nth($sizes, index($sizes, $size)));
  line-height: pxToRem(nth($lines, index($sizes, $size)));
  text-decoration: if($underline ==true, underline, none);
}

@mixin hero($weight, $size) {
  $weights: (light: 300,
    regular: 400,
    semibold: 600,
    bold: 700,
    extrabold: 800,
  );

  $sizes: (44, 46);
  $lines: (52, 60);

  font-family: "Open Sans", sans-serif;
  font-weight: map-get($weights, $weight);
  font-size: pxToRem(nth($sizes, index($sizes, $size)));
  line-height: pxToRem(nth($lines, index($sizes, $size)));
}